 body {
	font-family: Arial, sans-serif;
	margin: 0;
  }
  
  form {
	max-width: 400px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  div {
	margin-bottom: 15px;
  }
  
  label {
	display: block;
	font-weight: bold;
  }
  
  input {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 10px;
  }
  
  input[type="reset"],
  input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  input[name="about"] {
	height: 80px;
  }

  input[type="reset"]:hover,
  input[type="submit"]:hover {
	background-color: #45a049;
  }
  
  .Pet_Radio {
	margin-bottom: 20px;
  }
  
  .Pet_Radio ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
  }
  
  .Pet_Radio li {
	margin-right: 20px;
  }
  
  .Pet_Radio label {
	display: inline-block;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .Pet_Radio input[type="radio"] {
	display: none; /* Hide the actual radio button */
  }
  
  /* Style for the selected radio button label */
  .Pet_Radio input[type="radio"]:checked + label {
	background-color: #4CAF50;
	color: white;
  } 