 .container {
	position: relative;
	width: 95%;
	margin: 20px auto;
	border: 4px solid black;
	display: flex;
  }
  
  .image {
	flex: 1;
  }
  
  .image img {
	max-width: 650px;
	max-height: 650px;
  }
  
  .description {
	flex: 1;
	padding: 20px;
  }
  
  .name {
	font-weight: bold;
  }
  
  article {
	margin-top: 20px;
  }
  
  h4 {
	color: #333;
  }

  .comment_button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 5px;
  }
  .comment_button:hover {
	background-color: #45a049;
  }

  .comment_box {
	position: absolute;
	width: 100%;
	bottom: 10px;
	right: 120px; /* Adjust the distance from the right edge */
	padding: 10px;
	width: calc(100% - 160px);
	transition: color 0.3s ease;
  }

  .comment_box .comment_text{
	color: #ccc;
  }

  .hidden{
	display: none;
  }

  @media (max-width: 900px) {
	.container {
	  flex-direction: column;
	  height: 120%
	}
  
	.image img {
	  max-width: 100%;
	  height: auto;
	}

	.comment_box {
		position: relative;
		left: 0;
		right: 120;
		bottom: 0;
		width: 80%;
	}
  }
  